
body {
  text-align: center;
  background: url('img/bodybg.gif') repeat-x #e9ecf7;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 11px;
  margin: 0;
  padding: 0;
}

a { color: #3B5477; }
a:hover { color: #000000; }
a:visited { color: #3B5477; }

h1, h2, h3, h4, dt { 
	font-family: Georgia, Palatino, serif;
	color: #002d62; 
	font-weight: bold;
}

h1 {
  font-size: 2em;
  line-height: 120%;
  margin-top: 5px;
}

h2 {
  font-size: 1.4em;
  margin-top: 0px;
}

#translate {
  width: 770px;
  margin: 4px auto 4px auto;
  text-align: right;
}

#translate .item-list, #translate ul, #translate li {
  display: inline;
  margin: 0;
  padding: 0;
}

#translate li {
  padding: 0 5px 0 5px;
}

#wrapper {
  width: 770px;
  margin: auto;
  text-align: left;
  background-color: #FFF;
  border: 1px solid #666;
}

#banner {
  background-image: url('img/banner.png');
  width: 770px;
  height: 130px;
}

#banner #logo-title {
  position: relative;
  left: 20px;           /* Change the exact posistion of your logo */
  top: 26px;            /* and site title by adjusting these values*/
}

#banner .site-name {
  display: inline;
  vertical-align: middle;
}

#banner .site-name a {
  color: #FFF;
  text-decoration: none;
  font-size: 1.4em;
  padding-left: 15px;
}

#banner .site-slogan {
  position: relative;
  left: 190px;
  top: 35px;
  text-align: center;
  color: #FFF;
  font-weight: bold;
  font: 1.1em Georgia, Palatino, serif;
}

#primary-links {
  text-align: center;
}

.links#navlist {
  margin: auto;
  width: 762px;
  height: 25px;
  background-image: url('img/links.png');
	font: bold 13px Arial, sans-serif;
	padding: 7px 0 0 8px;
}

.links#navlist li a {
  padding: 0 8px 0 8px;
  text-decoration: none;
}

#links#navlist li a:hover {
	color: #000000;
}

#main {
  width: 525px;
  padding: 20px 10px 20px 20px;
  float: left;
}

#mission {
  font-style: italic;
  font-size: 1.2em;
  line-height: 130%;
  background-color: #EEE;
  border: 1px solid #DDD;
  padding: 5px;
}

#sidebar-right {
  float: right;
  padding: 20px 20px 20px 10px;
  width: 185px;
}

#footer {
  font-size: .9em;
  margin: 30px 0 6px 0;
}

.node {
  margin-bottom: 15px;
}

.node.listing {
  background-color: #EEE;
  border: 1px solid #DDD;
  padding: 5px;
}

.node .content {
  font-size: 1.1em;
  line-height: 130%;
}

.taxonomy, .links, .submitted {
  font-size: .95em;
  margin-bottom: 10px;
}

.block {
  width: 185px;
  line-height: 130%;
  text-align: left;
  background-color: #F0ECC7;
  margin-bottom: 10px;
}

.block .title {
  background-image: url('img/blockbg.png');
  color: #FFFFFF;
  padding: 6px;
  font-size: 1.1em;
  font-weight: bold;
}

.block .content {
  padding: 10px;
  border-left: 1px solid #748AB1;
  border-right: 1px solid #748AB1;
  border-bottom: 1px solid #748AB1;
}

.search-results strong {
  background-color: #C7CBE1;
}